@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using Microsoft.Graph.Models
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@attribute [Authorize]

<h3>User Profile</h3>
@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td> DisplayName </td>
            <td> @user.DisplayName </td>
        </tr>
        <tr>
            <td> UserPrincipalName </td>
            <td> @user.UserPrincipalName </td>
        </tr>
    </table>

    @if(isLoadingList) {
        <p>Loading list...</p>
    }
    else {
        <table class="table">
            <thead>
                <tr>
                    <th>Item Type</th>
                    <th>Item Name</th>
                </tr>
            </thead>
            @if(CanNavigateUp){
                <tr>
                    <td>Folder</td>
                    <td><button @onclick="() => NavigateUp()">..</button></td>
                </tr>
            }
            @foreach (var item in items)
            {
                <tr>
                    @if (item.Folder != null)
                    {
                        <td>Folder</td>
                        <td><button @onclick="() => NavigateToFolder(item)">@item.Name</button></td>
                    }
                    else if (item.Name?.EndsWith(".pdf") ?? false)
                    {
                        <td>File</td>
                        <td><button @onclick="() => GetFileContent(item)">@item.Name</button></td>
                    }
                </tr>
            }
        </table>
    }
}

@if (isLoadingContent)
{
    <p>Loading content...</p>
}
else if (!string.IsNullOrWhiteSpace(contentString)) {
    <h4>@item.Name</h4>
    <PdfViewer Id="pdfViewer" class="mb-3" Url="@contentString" />
}

@code {

    private User? user;
    private Drive? drive;

    private bool isLoadingList = false;
    private bool CanNavigateUp { get { return folderStack.Count > 1; } }

    private readonly Stack<DriveItem> folderStack = new Stack<DriveItem>();
    private IEnumerable<DriveItem> items = new List<DriveItem>();

    private bool isLoadingContent = false;
    private string contentString = "";
    private DriveItem? item;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.GetAsync();
            if (user == null)
            {
                return;
            }

            drive = await GraphServiceClient.Me.Drive.GetAsync();
            var root = await GraphServiceClient.Drives[drive.Id].Root.GetAsync();
            folderStack.Push(root);
            await GetFolderItems(root);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task NavigateToFolder(DriveItem folder)
    {
        folderStack.Push(folder);
        await GetFolderItems(folder);
    }

    private async Task GetFolderItems(DriveItem folder)
    {
        isLoadingList = true;
        StateHasChanged();

        items = (await GraphServiceClient.Drives[drive.Id].Items[folder.Id].Children.GetAsync())?.Value ?? new List<DriveItem>();
        isLoadingList = false;
        StateHasChanged();
    }

    private async Task NavigateUp() {
        if (!CanNavigateUp)
            return;

        folderStack.Pop();
        var item = folderStack.Peek();
        await GetFolderItems(item);
    }

    private async Task GetFileContent(DriveItem file)
    {
        if (file.File == null)
            return;

        contentString = "";
        isLoadingContent = true;
        StateHasChanged();

        item = file;
        var content = await GraphServiceClient.Drives[drive.Id].Items[file.Id].Content.GetAsync();
        using (var ms = new MemoryStream())
        {
            await content.CopyToAsync(ms);
            contentString = string.Format("data:application/pdf;base64,{0}", Convert.ToBase64String(ms.ToArray()));
        }
        isLoadingContent = false;
        StateHasChanged();
    }

}
